{% extends "layout.html" %}
{% block body %}
<h1> smt smt im cool</h1>
<p> I was born on March 7th 2009 I like computers and computer games</p>
<p></p><a href="/greet">Go to Greet Page</a>   
<p></p><a href="/tasks">Go to Tasks Page </a> 
 <hr> 
         <p>This is intelectual property of </p> <h2> Big Y </h2>
         <p> please contact me if you want to buy it!<p> 
                <style>
           body {
            padding: 2rem;
            background-image: url('https://imgs.search.brave.com/nMXlTIpCwt7kXHh_D1PH1nvJmbo4aW5hjp15_IxIvPk/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvNTA4/NDgwMzA3L3Bob3Rv/L3NpbGhvdWV0dGUt/b2YtZGlub3NhdXIt/c2N1bHB0dXJlLWF0/LXN1bnNldC1tb2Fi/LXV0YWgtdXNhLmpw/Zz9zPTYxMng2MTIm/dz0wJms9MjAmYz0w/YjRDNzlpRVd2clZz/Q2FTWnJQbmUzWVNr/cFBqb3hkWk85QnBN/RzQ2c2h3PQ');
            background-attachment: fixed;
            background-size: cover;
            } 
            h1 {
                color:gold;
                font-family:cursive;
                text-shadow: 1px 1px 2px purple
            } 
        </style>
{% endblock %}