{% extends "layout.html" %}
{% block body %}
<img src="https://imgs.search.brave.com/cbHQhTOHVidLxR2HZTCFdB8K2Q3u_vYOMEtQ45M1Lmc/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzA0LzUwLzMxLzE3/LzM2MF9GXzQ1MDMx/MTcxNV9ubzRwTTJr/VHhhYTY0U1MzSVRC/ZDRibXFISzNrUFl3/ay5qcGc" alt="cool fricken dino">   
         <h1> Hello! {{ name }} how are you this is my site HTML thing! I want to have this html work! </h1>
         <p> go to my about page! </p> <a href="/about">Go to About Page </a>  
         <p> hey heres my tasks page!!!</p> <a href="/tasks">Go to Tasks Page </a>  
         <hr> 
         <p>This is intelectual property of </p> <h2> Big Y </h2>
         <p> please contact me if you want to buy it!<p> 
        <style>
           body {
            padding: 2rem;
            background-image: url('https://imgs.search.brave.com/ezFu6XDis6CIB3_WBlNOiSKqpXddSAbmqNW4vr_8vD8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9naWZk/Yi5jb20vaW1hZ2Vz/L2hpZ2gvY2F0LXdh/dmluZy1odW1hbi1o/YW5kcy1lbW9qaS0y/dml0ZXU1YzUyZjg0/OTltLmdpZg.gif');
            background-attachment: fixed;
            background-size: cover;
            } 
            h1 {
                color:crimson;
                font-family:cursive;
                text-shadow: 1px 1px 2px hotpink
            }
        </style>
{% endblock %}