{% extends "layout.html" %}
{% block body %}
<h1> TO DO (GET A 7 IN COMPUTER SCIENCE!!!) </h1>
<p> I think I might be able to get it if I try a lot smh </p>
<p></p><a href="/greet">Go to Greet Page</a>  
<p></p><a href="/about">Go to About Page </a> 
<hr> 
         <p>This is intelectual property of </p> <h2> Big Y </h2>
         <p> please contact me if you want to buy it!<p> 
    <style>
           body {
            padding: 2rem;
            background-image: url('https://imgs.search.brave.com/YX_MQwUfvS3qSDPJ0hNMEHf_zqwpg8WrvlMw1014Bao/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YTEuZ2lwaHkuY29t/L21lZGlhL3YxLlky/bGtQVGM1TUdJM05q/RXhjMlJzYzJSaE1X/ZzVkelEwTVcxMU5Y/SndOSFE0TUd0d2NE/SjFjM1kxWVdsaGVX/aG5jbkkzTWlabGNE/MTJNVjluYVdaelgz/TmxZWEpqYUNaamRE/MW4veFVMVzh2UlFy/bElQUmZpRW9nLzIw/MC5naWY.gif');
            background-attachment: fixed;
            background-size: cover; 
            } 
            h1 {
                color:darkturquoise;
                font-family:cursive;
                text-shadow: 1px 1px 2px royalblue
            } 
        </style>
{% endblock %}